@charset "utf-8";
/*头部*/
.header_f{
	width: 100%;
	height: 180px;
	background: url(../images/head_bg.png) no-repeat;
	background-color: #EEE;
	background-position: center;
}
/*导航*/
.header_bg{
	width: 100%;
	height: 42px;
	background-color: hsla(0,0%,100%,.4);
	top:0;
	left: 0;
	z-index: 0;
}
.header_left{
	float: left;
}

.header_left>li,
.header_right>li{
	padding: 0 10px;
	line-height: 42px;
	text-align: center;
	position: relative;
	z-index: 1;
	background-color: hsla(0,0%,100%,0);
	transition: all 0.3s linear;
}
.header_left>li:hover,
.header_right>li:hover{
	
	background-color: hsla(0,0%,100%,.3);
	transition: all 0.3s linear 0;
}
.header_right{
	float: right;
}
/*主站*/
.zhuzhan span ,
.xiazai span{
	display: block;
	width: 16px;
	height: 42px;
	background: url(../images/header_bg1.png) no-repeat;
	background-position: center center;
	float: left;
	margin-right: 5px;
}
.xiazai span{
	background: url(../images/header_bg2.png) no-repeat;
	background-position: center center;
}
/*投稿*/
#tougao{
	display: block;
	width: 58px;
	height: 48px;
	padding: 0;
	background: url(../images/tougao_bg.png) no-repeat;
	color: #FFF;
	position: relative;
	z-index: 1;
}
.akari{
	height: 42px;
}
.touxiang{
	margin-top: 4px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
}

/*游戏栏鼠标悬浮效果*/
.youxi>div{
	width: 444px;
	height: 256px;
	background: #fff;
	border: 1px solid #E0DFE3;
	left: 0;
	top: 70px;
	padding:10px 10px 0 10px;
	display: none;
	opacity: 0;
}
/********************jqgai**************************/

.youxi_left{
	width: 240px;
	height: 240px;
	float: left;
}
.youxi_left > span{
	display: block;
	color: #fff;
	position:absolute;
	top: 96px;
	left: 10px;
}
.youxi_left > img{
	width: 240px;
	height: 128px;
}
.youxi_left ul li {
	padding:8px;
}
.youxi_left ul li span{
	display: block;
	width: 64px;
	height: 14px;
	line-height: 1px;
}
.youxi_left ul img{
	width: 64px;
	height: 64px;
}
.youxi_left ul li:hover{
	background: #e5e9ef;
}
.youxi_right{
	float: right;
}
.youxi_right div{
	width: 200px;
	text-align: right;
	background: url(../images/title.png) no-repeat left;
}
.youxi_right ul{
	margin-top: -8px;
}
.youxi_right li{
	width: 200px;
	line-height: 30px;
	background: url(../images/line.png) repeat-y left;
}
.youxi_right ul li{
	float: none;
}
.youxi_right .youxi_img img{
	position: absolute;
	bottom: 0;
	right: -200px;
	display: none;
}
/*直播*/


.zhibo>div{
	display: none;
	width: 520px;
	height: auto;
	background: #fff;
	border: 1px solid #E0DFE3;
	left: 0;
	top: 70px;
	padding:10px 0 0 10px;
	transition: all 0.5s; 
	opacity: 0;

}

.zhibo_title:nth-of-type(1){
	width: 280px;
}
.zhibo_title{
	height: 42px;
	text-align: left;
	font-size: 18px;
	float: left;
	padding-left: 10px;
	
}
.zhibo_left ul{
	width: 256px;
	height: 210px;
	margin-bottom:20px;
	padding-right: 20px;
	border-right: 1px solid #F0F0F0;
}
.zhibo_left li{
	width: 64px;
	height: 88px;
	padding: 10px;
	margin-top: 10px;
	position: relative;
}
.zhibo_left li:hover{
	background:  #eaeaea;
}
.zhibo_left li img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	float: left;
}
.zhibo_left li p{
	height: 24px;
	line-height: 24px;
}
.zhibo_left li i{
	display: block;
    position: absolute;
    top: 42px;
    left: 42px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0,0,0,.5);
    font-style: normal;
    font-size: 15px;
    color: #fff;
    line-height: 64px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s; 
    opacity: 0;
}
.zhibo_left li:hover i{
	left: 10px;
	top:10px;
	width: 64px;
	height: 64px;
	opacity: 1;
}
.zhibo_right li{
	width: 243px;
	text-align: center;
}

.zhibo_right li a{
	display: block;
	height: 80px;
}
.zhibo_right li a:hover{
	background: #eaeaea;
}
/*APP下载*/
.xiazai div{
	width: 259px;
	height: 174px;
	left: -21px;
	top: 70px;
	background: url(../images/orcode-frame.png) no-repeat top center;
	display: none;
	opacity: 0;
}
.xiazai div>div{
	width: 118px;
	height: 118px;
	background: url(../images/apper.png) no-repeat center center ;
	margin: 0 auto;
	margin-top: 20px;
}
/*头像*/
.touxiang_ew{
	background: #fff;
	padding: 10px;
	border: 1px solid #E0DFE3;
	left: -150px;
	top: 70px;
	text-align: center;
	font-size: 12px;
	display: none;
	opacity: 0;
}
.touxiang_ew p:nth-of-type(1){
	text-align: left;
	color: #6d757a;
}
.touxiang_ew>div{
	width: 320px;
	height: 200px;
	background: url(../images/danmu_bg.png) no-repeat center top;
	left: 0;
	overflow: hidden;
}
.touxiang_ew>div ul{
	width: 640px;
}
.touxiang_ew a{
	display: block;
	width: 300px;
	line-height: 36px;
	background: #00a1d6;
	color: #fff;
	border-radius: 4px;
	margin: 10px auto;
}
/*历史*/
/*关闭按钮*/
.guanbi{
	display: inline-block;
	width: 13px;
	height: 11px;
	margin: 0 10px;
}
.guanbi i{
	display: inline-block;	
	width: 5px;
	height: 5px;
	border-right: 1px solid red;
	border-bottom:1px solid red;
	float: left;
	
}
.guanbi i:nth-of-type(1){
	transform: rotate(-45deg);
}
.guanbi i:nth-of-type(2){
	transform: rotate(135deg);
	margin-left:1px ;
}
/*下拉*/
.lishi_ew{
	width: 400px;
	padding: 10px;
	left: -180px;
	top: 70px;
	background: #fff;
	border: 1px solid #E0DFE3;
	text-align: center;
	display: none;
	opacity: 0;
}
.lishi_ew ul{
	height: 40px;
	padding: 10px 0;
}
.lishi_ew li{
	width: 400px;
	height:40px;
}
.lishi_ew li a{
	display: inline-block;
	width: 300px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*登录*/
.lishi_ew>a{
	display: inline-block;
	width: 40px;
	height: 26px;
	line-height: 26px;
	background: #00a1d6 ;
	border-radius: 4px;
	color: #fff;
	margin: 0 auto;
}
.lishi_ew p{
	width: 402px;
	height: 24px;
	line-height: 24px;
	background: #e5e9ef;
	border-radius: 4px;
}
/*投稿*/
#tougao ul{
	width: 360px;
	background: #fff;
	border:1px solid #E0DFE3 ;
	right: 0;
	top: 70px;
	display: none;
	opacity: 0;
}
#tougao li{
	height: 64px;
}
#tougao ul span{
	display: block;
	width: 72px;
	transition: all 0.2s linear; 
}
#tougao ul img{
	display: block;
	width: 18px;
	margin: 10px  auto 0 auto;
	transition: all 0.2s linear; 
}
#tougao li:hover{
	background: #e5e9ef;
}
#tougao li:hover img{
	transition: all 0.2s linear; 
	margin-top: 6px;
}
.search{
	text-align: right;
	margin-top: 74px;
	height: 32px;
	font-size: 12px;
}
.search a,
.search input{
	height: 32px;
	font-size: 12px;
	line-height: 32px;
}
.search a{
	display: block;
	width: 60px;
	padding:0 5px;
	border-radius: 4px;
	margin-right: 4px;
	background: url(../images/searc1.png) no-repeat;
	background-position: 5px -2px;
	background-color: hsla(0,0%,100%,0.88);
}
.search input:nth-of-type(1){
	padding: 0 10px;
	width: 200px;
	border-radius: 4px 0 0 4px;
	background-color: hsla(0,0%,100%,0.88);
}
.search input:nth-of-type(2){
	padding: 0 10px;
	width: 40px;
	border-radius: 0 4px 4px 0;
	background: url(../images/searc2.png) no-repeat;
	background-position: center left;
	background-color: hsla(0,0%,100%,0.88);
}
.search input:nth-of-type(2):hover{
	background: url(../images/searc2_2.png) no-repeat;
	background-position: center left;
	background-color: hsla(0,0%,100%,0.88);
}
/*首页导航*/
.nav{
	height: 58px;
}
.nav>ul>li{
	width: 48px;
	height: 48px;
	position: relative;
	text-align: center;
	padding-top: 10px;
}
.nav>ul>li:hover .hd{
	display: block;
}
.hd{
	width: 130px;
	overflow: hidden;
	border-radius:0 0 4px 4px ;
	background: #fff;
	position: absolute;
	top:58px;
	display: none;
	z-index: 2;
}
.hd li{
	width: 300px;
	height: 30px;
}
.hd li:hover{
	background: #E5E9EF;
}
.hd li:hover .hd_l{
	margin-left: 10px;
}
.hd li:hover .hd_r{
	left: 0px;
}
.hd_l{
	height: 30px;
	line-height: 30px;
	background: url(../images/hd_bg1.png) no-repeat center left;
	padding: 0 10px;
	margin-left: 5px;
	float: left;
	position: relative;
	transition: all 0.2s linear;
}
.hd_r{
	background: green;
	width: 100px;
	height: 30px;
	background: url(../images/hd_bg2.png) no-repeat left center;
	float: left;
	position: relative;
	left:100px;
	transition: all 0.2s linear; 
}
.nav_title {
	width: 100%;
}

.nav_title span{
	font-size: 12px;
	line-height: 20px;
	background: #ea759f;
	color: #fff;
	border-radius: 3px;
}
.sy_bg{
	width:28px ;
	height: 20px;
	background: url(../images/sy_bg.png) no-repeat center center;
	margin: 0 auto;
}
.fy_title,
.zl_bg,
.gc_bg,
.zb_bg,
.hw_bg{
	width: 16px;
	height: 12px;
	background: url(../images/fy_bg.png) no-repeat;
	background-size: contain;
	margin: 4px auto;
}
.zl_bg{
	background: url(../images/zl_bg.png) no-repeat;
	background-size: contain;
}
.gc_bg{
	background: url(../images/gc_bg.png) no-repeat;
	background-size: contain;
}
.zb_bg{
	background: url(../images/zb_bg.png) no-repeat;
	background-size: contain;
}
.hw_bg{
	background: url(../images/hw_bg.png) no-repeat;
	background-size: contain;
}
/*banner无缝轮播图*/
.banner_box{
	height: 220px;
}
.banner{
	width: 440px;
	height: 220px;
	overflow: hidden;
	position: relative;
}
.banner_img{
	width: 2640px;
	height: 220px;
}
.banner_nav{
	width: 180px;
	height: 25px;
	background: linear-gradient(transparent,rgba(0,0,0,0.5)) ;
	padding-left: 40px;
	padding-top: 5px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.banner_nav li{
	width: 18px;
	height: 18px;
	margin-left: 10px;
	background: url(../images/mo.png) no-repeat center center;
}
.on{
	width: 18px;
	height: 18px;
	margin-left: 10px;
	background: url(../images/hover.png) no-repeat center center !important;
}
.banner_text{
	width: 220px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	background:linear-gradient(transparent,rgba(0,0,0,0.5));
	bottom: 0;
}
.banner_text li{
	width: 220px;
	height: 30px;
	color: #fff;
	position: absolute;
	bottom: 0;
	display: none;
}

.banner_r{
	width: 540px;
	height: 220px;
}
.banner_r img{
	width: 160px;
	height: 100px;
}
.banner_r li{
	width: 160px;
	height: 100px;
	position: relative;
	margin-left: 20px;
	margin-bottom:20px ;
	overflow: hidden;
}
.banner_r li div{
	width: 150px;
	height: 100px;
	padding:0 5px ;
	position: absolute;
	bottom: -82px;
	color:#fff;
	background: rgba(0,0,0,0.5);
}
.banner_r li:hover div{
	bottom:0;
	height: 80px;
	padding-top: 20px;
}
/*内容区公共样式*/
.content{
	width: 720px;
	height: 381px;
}
.Rankings{
	width: 260px;
}
.font24{
	font-size: 24px;
}
.font18{
	font-size: 18px;
}
/**/
.nav_list{
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: 500px ;
	border: 1px solid #E5E9EF;
	border-radius: 4px;
	
}
.nav_list div{
	width: 48px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f6f9fa;
    transition: background-color .3s,color .3s;
    cursor: pointer;
}
.nav_list div:hover{
	background: #00A1D6;
	color: #FFF;
}
/*内容区共用样式*/

.content li{
	margin-right: 20px;
	line-height: 52px;
	height: 32px;
}

.read_push div{
	width: 120px;
	height: 20px;
	border: 1px solid #E5E9EF;
	border-radius: 4px;
	line-height: 22px;
	margin-top: 10px;
}
.read_push span{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/read_push_bg.png) no-repeat center center;
	margin: 0 10px ;
	transition: all 0.5s;
}
.read_push:hover span{
	transform: rotate(1turn);
}
.read_push:hover div{
	background: #E5E9EF;
}
.link_more a{
	display: block;
	width: 35px;
	height: 20px;
	padding:0 10px;	
	border: 1px solid #E5E9EF;
	border-radius: 4px;
	line-height: 24px;
	margin-top: 10px;
	transition: all 0.2s linear;
}
.link_more a:hover{
	width: 45px;
	padding:0 5px;
	background: #E5E9EF;
}
.link_more a span{
	display: inline-block;
	width: 6px;
	height: 20px;
	background: url(../images/dyh.png) no-repeat center center;
	margin-left: 2px;
	float: right;
}
.content_title{
	height: 32px;
	margin-bottom: 20px;
}
.pic li{
	width: 160px;
	height: 148px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.snum{
	position: absolute;
	top: 64px;
}
.auther,
.online{
	color: #FFF;
	padding: 0 5px;
	height: 20px;
}
.online{
	float: right;
}
.snum{
	width: 160px;
	line-height: 20px;
	position: absolute;
	top: 64px;
}
.snum div{
	width: 160px;
	height: 36px;
	background:linear-gradient(transparent,transparent,rgba(0,0,0,0.5)) ;
}
.snum div span{
	line-height: 50px;
}
.num{
	width: 160px;
	height: 20px;
	background: #fff;
	color: #9ba3ab;
	position: absolute;
	top: 58px;
	transition: all 0.3s;
}
.pic_img,
.mask{
	width: 160px;
	height: 100px;
	background: #000000;
	border-radius: 4px;
}
.mask{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 2;
}
.Rankings_nav{
	line-height: 50px;
}
.Rankings_nav h2{
	display: block;
	width: 50px;
	float: left;
}
.Rankings_nav li{
	margin: 0 10px;
	position: relative;
}
.Rankings_nav li span,
.tab span{
    left: 50%;
    margin-left: -3px;
    margin-top: 8px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 3px dashed #00a1d6;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}
.Rankings_nav li div,
.tab div{
	width: 100%;
	height: 1px;
	background: #00a1d6;
    margin-top: 11px;
}
.Rankings_nav li div,
.Rankings_nav li span{
	position: absolute;
    top: 50%;
    opacity:0;
    transition: all 0.1s;
}
.opacity a div,
.opacity a span{
	opacity: 1;
}
.Rankings_img,
.Rankings_img li{
	width: 260px;
	height: 248px;
	
}
.Rankings_img1,
.Rankings_img2,
.Rankings_banner{
	display: none;
}
.Rankings_img1 li{
	height: 40px;
	margin-bottom: 14px;
}
.Rankings_img1 img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.Rankings_img1 span,
.Rankings_img1 img,
.Rankings_img1 i,
.Rankings_img1 em,
.Rankings_img1 div,
.Rankings_img1 p{
	display: block;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.Rankings_img1 i{
	width: 12px;
	height: 12px;
	background: url(../images/yanjing.png) no-repeat center center;
}
.Rankings_img1 p{
	width: 110px;
	overflow: hidden;
	line-height: 16px;
}
.Rankings_img1 a{
	display: block;
	width: 260px;
	height: 40px;
}
.Rankings_img1 span{
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	background: #b8c0cc;
	color: #fff;
	text-align: center;
	line-height: 18px;
}
.q3{
	background-color: #ea759f !important;
}
.Rankings_img1 div{
	margin-top: -20px;
	float: right;
}

.Rankings_img2 span{
	display: block;
	width: 260px;
	height: 24px;
	line-height: 24px;
	background: url(../images/huidianshi.gif) no-repeat ;
	background-position:72px -2px ;
	text-align: center;
	margin: 0 auto;
}
.Rankings_banner>div{
	overflow: hidden;
	position: relative;
}
.Rankings_banner_img{
	width: 1040px;
	position: relative;
	left: -260px;
}
.Rankings_banner_nav{
	width: 264px;
	height: 10px;
	padding: 10px 0;
	text-align: center;
	position: absolute;
    bottom: 0px;
}
.Rankings_banner_nav span{
	display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: all .3s;
}
.Rankings_banner_on{
	width: 30px !important;
	background-color: #f45d8f !important;
}
.tab div,
.tab span{
	position: absolute;
    top: 80%;
    opacity:1;
    transition: all 0.1s;
}
/*视频预览*/
.shipink{
	position: absolute;
	top: 0;
	height: 100px;
	background: rgba(0,0,0,0.5);
	border-radius: 4px;
	opacity: 0;
}
.shipin_top{
	width: 160px;
	height: 6px;
	background: #000000;
	border-radius: 4px 4px 0 0;
	padding-top: 4px;
	opacity:0;
}
.shipin_top div{
	width: 140px;
	height: 2px;
	background: #555555;
	margin: 0 auto;
}
.shipin_top span{
	display: block;
	width: 0%;
	background: #CCCCCC;
	height: 2px;
}
.shipin{
	width: 160px;
	height: 90px;
	border-radius: 0 0 4px 4px;
	opacity: 0;
}
/*正在直播*/
.zhibo_box{
	padding-top:20px ;
}
.zhibo_box .name{
	background: url(../images/name1.png) no-repeat center left;
	padding-left: 40px;
	line-height: 40px;
}
.zhibo_box .fire{
	background: url(../images/hou.png) no-repeat left bottom;
	padding-left: 25px;
}
/*动画*/
.donghua_box .name{
	background: url(../images/name2.png) no-repeat center left;
	padding-left: 40px;
	line-height: 40px;
}
/**/
.zhibo_box,
.donghua_box,
.fanju_box,
.guochuang_box,
.yinyue_box,
.wudao_box,
.youxi_box,
.keji_box,
.shenghuo_box,
.guichu_box,
.shishang_box,
.guanggao_box,
.yule_box,
.dianying_box,
.TV_box,
.yingshi_box,
.jilupian_box{
	height: 381px;
}
/*底部*/
.footer{
	width: 100%;
	height: 300px;
	background: #f6f9fa;
	padding-top: 40px;
}
.footer li{
	width: 30%;
	padding-left: 3%;
	border-left: 1px solid #e5e9ef;
}
.footer li:nth-of-type(1){
	padding-left: 0;
	padding-right: 3%;
	border: 0;
}
.footer dt{
	color: #99a2aa;
	line-height: 40px;
}
.footer dd{
	width: 33%;
	float: left;
	line-height: 32px;
}
.footer img{
	margin: 46px 19px;
}
